<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page RP server</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/scripts/Script.js" defer></script>
</head>
<body>

  <header class="header">
    <div class="nav-toggle">
      <img src="/images/Menu.png" alt="Menu Icon" class="menu-icon" width="50" height="50" nav-toggle>
    </div>
    <nav class="nav">
      <a href="/index.html" class="nav-btn">Home</a>
      <div class="nav-btn dropdown-toggle">Factions</div>
      <div class="dropdown-content">
        <a href="PoliceDepartment.html">Police Department</a>
        <a href="Mechanics.html">Mechanics</a>
        <a href="EMS.html">Medical Department</a>
      </div>
      <a href="Shop.html" class="nav-btn">Shop</a>
    </nav>
    <div class="title">SUMMERCITY WEBSITE</div>
  </header>

  <div class="overlay"></div>

  <main class="main">
    <section class="intro">
      <h1 class="title">Police Department</h1>
      <p class="description">
        This is a restricted subpage for the members of Police faction only!
        Here you can find all of the information and announcements that are relevant to the Police faction.
        Do not share with this information to anyone outside of the Police faction.
      </p>
    </section>

    <div class="space"></div>

    <section class="news">
      <h2 class="section-title">Police Announcements</h2>
        <div class="news-grid" announcements-police-container>
          <% announcements.forEach(announcement => { %>
            <article class="news-item">
              <h3 class="news-heading"><%= announcement.Title %></h3>
              <p class="news-date"><%= new Date(announcement.created_at).toLocaleDateString() %></p>
              <p class="news-content"><%= announcement.Content %></p>
            </article>
          <% }) %>
        </div>
    </section>
  </main>

  <footer class="footer">
    <p>Footer/Contact Information</p>
  </footer>
</body>
</html>